.carrosel-título{
    
    background-color: var(--branco);
    color: var(--laranja);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em;
    




}